<p id="notice"><%= notice %></p>

<h1 class="header"><%= t("sources")%></h1>
<div class="ui divider"></div>

<span>
  <% if @jobs > 0 %>
  <div class="ui labeled button" tabindex="0">
    <div class="ui red button">
      <i class="cogs icon"></i> Importing
    </div>
    <a class="ui basic red left pointing label">
      <%= @jobs %>
    </a>
  </div>
  <% end %>
  <a class="ui button small blue"
    href="https://docs.google.com/document/d/1ht17HeUmt-TXJIk139XP4usTn1AV5boWFoSmFw53q-w/edit?usp=sharing">Readme
    first</a> guide for adding your own SPARQL
</span>



<% if !cookies[:user] %>
Please <a href="#/ms/signup/6072f56a96a83a00043d49cd/#/ms/content/!members" class="ui primary"> Sign Up </a> or Log In
to add data sources.
<div class="ui divider"></div>
<% end %>


<h1 class="header"><%= t("sparql-top") %></h1>
<div class="ui divider"></div>
<table class="ui striped table selectable celled">
  <thead>
    <tr>
      <th>ID</th>
      <th><%= t('table.name') %></th>
      <th><%= t('table.author') %></th>
      <th><%= t('table.cached') %></th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @data_sources.each do |data_source| %>
    <% if data_source.layers.empty? %>
    <tr>
      <td><%= data_source.id %></td>
      <td><%= data_source.name %></td>

      <td><%= data_source.email %></td>
      <td><%= data_source.loaded %></td>
      <td>
        <span style="display: flex;">
          <%= link_to t('button.show'), data_source, class: "ui button mini green" %>
          <% if cookies[:user] == data_source.email || is_admin? %>
          <%= link_to t('button.edit'), edit_data_source_path(data_source), class: "ui button mini" %>
          <%= link_to t('button.chain'), new_data_source_path(layer: data_source.id ),  data: { confirm: 'Create supplimentary SPARQL chained to this SPARQL?' }, class: "ui button mini" %>
          <%= link_to t('button.destroy'), data_source, method: :delete, data: { confirm: 'Are you sure?' }, class: "ui button mini red" %>
          <% end %>
        </span>
      </td>
    </tr>
    <% end %>
    <% end %>
  </tbody>
</table>


<% if cookies[:user] %>
<%= link_to new_data_source_path, class: "ui button primary" do %>
<i class="plus icon"></i><%= t('sources')%>
<% end %>
<% end %>


<h1 class="header"> <%= t("sparql-supplementary") %></h1>
<div class="ui divider"></div>
<table class="ui striped table selectable celled">
  <thead>
    <tr>
      <th>ID</th>
      <th><%= t('table.name') %></th>
      <th><%= t('table.author') %></th>
      <th><%= t('table.chained-to-source') %></th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @data_sources.each do |data_source| %>
    <% if data_source.layers.present? %>
    <tr>
      <td><%= data_source.id %></td>
      <td><%= data_source.name %></td>

      <td><%= data_source.email %></td>
      <td><%= data_source.layers.map {|l| l.id }.join(', ') %></td>
      <td>
        <span style="display: flex;">
          <%= link_to t('button.show'), data_source, class: "ui button tiny green" %>

          <% if cookies[:user] == data_source.email || is_admin? %>
          <%= link_to t('button.edit'), edit_data_source_path(data_source), class: "ui button tiny" %>
          <%= link_to t('button.destroy'), data_source, method: :delete, data: { confirm: 'Are you sure?' }, class: "ui button tiny red" %>
          <% end %>
        </span>
      </td>
    </tr>
    <% end %>
    <% end %>
  </tbody>
</table>