<h1 class="ui header">
  <%= @data_source.name %>
</h1>
<div class="ui divider"></div>

<p>
  <div class="ui labeled button" tabindex="0">
    <div class="ui tertiary button">
      <i class="user icon"></i> Author
    </div>
    <div class="ui basic tertiary left pointing label"><%= @data_source.email %></div>
  </div>

  <%  if @data_source.layers.count == 0 %>
    <div class="ui labeled button" tabindex="0">
      <div class="ui tertiary button">
        <i class="calendar icon"></i> Cached on
      </div>
    
      <div class="ui basic tertiary left pointing label"><%= @data_source.loaded %></div>
    </div>

  
    <%= link_to "Load RDF", load_rdf_data_source_path, class: "ui button primary show_loading" %>
     <%= link_to "Apply Upper Ontology", apply_upper_ontology_data_source_path, class: "ui button secondary show_loading" %>
    <% if @data_source.loaded.present? %>
     <%= link_to 'View all', search_path(data_source:@data_source.id), class: "ui button tertiary" %>
    <% end %>

  <% else %>
    Chained to layers: <%= @data_source.layers.map {|l| l.name }.join(", ") %>
  <% end %>
</p>

<p id="notice">
  <% if notice %>
  <div class="ui info message">
    <div class="header">
      <%= notice %>
    </div>
  </div>
  <% end %>
</p>


<% if  @sample_graph  %>
  <div class="ui styled accordion" style="width:100%;">
    <div class="title">
      <i class="dropdown icon"></i>
        Sample JSON-LD for <a href="<%= @sample_uri %>"><%= @sample_uri %></a>
    </div>
    <div class="content">
      <pre class="transition hidden">
      <code>
        <%= @sample_graph %>
      </code>
      </pre>
    </div>
  </div>
<% end %>

<div class="ui styled accordion" style="width:100%;">
    <div class="title">
      <i class="dropdown icon"></i>
        Upper Ontology </a>
    </div>
    <div class="content">
     <p> <%= @data_source.type_uri %></p>
     <%= form_with(model: @data_source, local: true, class: "ui form") do |form| %>
        <div class="three fields">
        <div class="field">
          <%= form.label "Title"%>
          <%= form.text_field :upper_title %>
        </div>  
        <div class="field">
          <%= form.label "Description"%>
          <%= form.text_field :upper_description %>
        </div>   
          <div class="field">
          <%= form.label "Date of first performance"%>
          <%= form.text_field :upper_date %>
        </div>   
        </div>  
        <div class="three fields">
          <div class="field">
          <%= form.label "Image"%>
          <%= form.text_field :upper_image %>
        </div>   
        
          <div class="field">
          <%= form.label "Place name of first performance"%>
          <%= form.text_field :upper_place %>
        </div>   
          <%
=begin%>
 <div class="field">
          <%= form.label "Country name of first performance"%>
          <%= form.text_field :upper_country %>
        </div>    
<%
=end%>
        <div class="field">
          <%= form.label "Languages"%>
          <%= form.text_field :upper_languages %>
        </div>   
         <%
=begin%>
 <div class="field">
          <%= form.label "Prefix"%>
          <%= form.text_field :upper_prefix %>
        </div>    
<%
=end%>
      </div> 
       <div class="actions">
    <%= form.submit "Update", class: 'ui button green show_loading' %>
  </div>
      <% end %>
    </div>
  </div>


<pre>
 <code>
  <%= @data_source.sparql %>
</code>
</pre>

<% if cookies[:user] == @data_source.email || is_admin? %>
<%= link_to 'Edit', edit_data_source_path(@data_source), class: "ui button green" %>
<% end %>
<%= link_to 'Back', data_sources_path, class: "ui button black" %>