<% if @prop !=  line.dig('prop_label','value') %>
  <h2 title='<%= line.dig('stat_prop','value') %>'>
    <%= line.dig('prop_label','value').capitalize if  line.dig('prop_label','value') %>
  </h2>
  <% @prop = line.dig('prop_label','value') %>
<% end %>


 
<% if line.dig('stat_obj','type') != 'literal' %>
  <% if line.dig('stat_obj','datatype') == 'http://www.w3.org/2001/XMLSchema#dateTime' %> 
    <%= date_display(line.dig('stat_obj','value')) %> <br>
  <% elsif line.dig('stat_obj','type') == "typed-literal" %>
    <%= line.dig('obj_label','value') %> <br>
  <% elsif line.dig('stat_obj','type') == "uri" %>
    <% if @obj != line.dig('stat_obj','value') %>
      <% if line.dig('obj_label','value').present? %>
        <a href='?uri=<%= line.dig('stat_obj','value') %>'><%= line.dig('obj_label','value') %></a><br>
      <% else %>
          <a href='?uri=<%= line.dig('stat_obj','value') %>'><%= line.dig('stat_obj','value') %></a><br>
      <% end %>
      <% @obj = line.dig('stat_obj','value') %>
    <% end %>
    <% if line.dig('qual_label','value').present? %>
        - <%= line.dig('qual_label','value') %> : <%= line.dig('qual_obj','value') %> <br>
    <% end %>
  <% else %>
    <a href='?uri=<%= line.dig('o','value') %>'> <%= line.dig('o','value')  %></a> <br>
  <% end %>
<% else %>
 
    <%= line.dig('stat_obj','value')  %>
    <%= "@" + line.dig('stat_obj','xml:lang') if line.dig('stat_obj','xml:lang') %>
  
  <br>
<% end %> 

