  


<% if @properties_with_labels.present? %>

<div class="ui divider"></div>
<div class="meta">

<% prop = '' %>
<% JSON.parse(@properties_with_labels)["results"]["bindings"].each do |line| %>

 <% if prop !=  line.dig('label','value') %>
    <h2>
            <%= line.dig('label','value')  if  line.dig('label','value') %>
            <% prop = line.dig('label','value') %>
    </h2>
    <% end %>
    <% if line.dig('o','type') == 'uri' %>
        <a href='<%= line.dig('o','value') %>'><%= line.dig('o','value').split('/').last %></a>
    <% else %>
        <%= line.dig('o','value')  %>
        <%= "@" + line.dig('o','xml:lang') if line.dig('o','xml:lang') %>
    <% end %>
  <br> 
<% end %>

<% end %>

 

