<div style='margin: 4px 20px 15px 20px;'>

  <% annotations.first.each do |key, value| %>
    <% if key == "http://www.w3.org/ns/prov#wasDerivedFrom" %>
     
      
      <div class="ui accordion">
        <div class="title">
          <i class="dropdown icon"></i>
         <%=value.count %> <%= t("reference").pluralize(value.count ) %>
        </div>
        <div class="content" style="background: #EEEEEE; padding:0.5em;">
          <p class="transition hidden">
              <% value.each do |ref|  %>
                <% solutions = display_reference(ref["@id"]) %>
                <% solutions.each do |solution| %>
                <% if solution.p.value != "http://www.w3.org/1999/02/22-rdf-syntax-ns#type"  %>
                  <%= display_label(solution.p.value) %>:  <%= display_label(solution.o.value) %> <br>
                <% end %>
                <% end %>
              <% end %>
          </p>
          <br>
        </div>
      </div>
    <% else %>
      <% value.each do |qual| %>
      <% if !key.to_s.include? "/value/"%>
        <%= display_label(key) %>:  <%= display_label(qual["@id"]) || qual["@value"] %><br>
      <% end %>
       <% end %>
    <% end %>
  <% end %>
</div>