<div style='margin: 4px 20px 15px 20px;'>

  <% annotations.first.each do |key, value| %>
    <% if key == "http://www.w3.org/ns/prov#wasDerivedFrom" %>
      
      <% reference_list = display_reference(value.first["@id"]) %>
      <div class="ui accordion">
        <div class="title">
          <i class="dropdown icon"></i>
         <%= reference_list.count %> <%= t("reference").pluralize(reference_list.count - 1) %>
        </div>
        <div class="content" style="background: #EEEEEE; padding:0.5em;">
          <p class="transition hidden">
              <% display_reference(value.first["@id"]).each do |triple|  %>
                <% if triple[:p].value != "http://www.w3.org/1999/02/22-rdf-syntax-ns#type"  %>
                  <%= display_label(triple[:p].value) %>:  <%= display_label(triple[:o].value) %> <br>
                <% end %>
              <% end %>
          </p>
          <br>
        </div>
      </div>
    <% else %>
      <% value.each do |qual| %>
      <% if !key.to_s.include? "/value/"%>
        <%= display_label(key) %>:  <%= display_label(qual["@id"]) || qual["@value"] %><br>
      <% end %>
       <% end %>
    <% end %>
  <% end %>
</div>