<h2 title='<%= prop %>'>
    <%= display_label(prop) %>    
</h2>
<% if value.class == Array %>
  <% value.each do |statement| %>
    <% if statement["@id"] %>
      <a href='show?uri=<%= statement["@id"] %>'>
        <%= display_label(statement["@id"]) %> <br>
      </a> 
    <% else %>
      <a> <%= display_literal(statement) %></a><br>
    <% end %>

    <% if statement["@annotation"] %>
      <%= render partial: "production_annotation" , locals: {annotations: statement["@annotation"] }%>
    <% end %>
  <% end %>
<% else %>
  <%= value %><br>
<% end %>

