<div class="ui padded raised segment">
  <div class="ui items">
    <div class="item">
      <div class="image">
        <img src="<%= production_image(@production) %>">
      </div>
      <div class="content">
        <h1 class="header"><%= display_label(@production.entity_uri) %></h1>
        <div class="meta">
          <span class="cinema"> <%= date_display(@production.date_entity) %> </span>
        </div>
        <div class="extra">
          <a href="<%=@production.entity_uri %>">
            <div class="ui right floated primary button">
              Data Source
              <i class="right chevron icon"></i>
            </div>
          </a>
           
          <div class="ui label">
            <i class="green arrow alternate circle down outline icon"></i>
            <%= @production.location_label %>
          </div>
        </div>

        
        <% if params[:action] == "derived" %>
        <div class="ui divider"></div>
         <h2 class="header">Derived Statements</h2>
        <%= render 'production_details'%>
         <%= link_to 'Statements', productions_path(uri:@production.entity_uri), class: "ui right floated secondard button"  %>
      <% else %>
      
       <%= render 'production_details'%>
        <%= link_to 'Derived Statements', derived_productions_path(uri:@production.entity_uri), class: "ui right floated secondard button"  %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="ui divider"></div>

  <h2 class="header">Description</h2>
  <div>
    <p><%= strip_tags(@production.description) %></p>
  </div>
  <div class="ui divider"></div>
  <h2 class="header">Related Images</h2>
  <div style="overflow-x: scroll; display: flex;">
    <% if @production.main_image.present? %>
    <img src="<%= production_image(@production) %>">
    <% end %>
    <img src="https://dummyimage.com/420x320/7f7fff/333333.png&text=Image Placeholder">
  </div>

  <div class="ui styled accordion" style="width:100%;">
    <div class="title">
      <i class="dropdown icon"></i>
      JSON-LD
    </div>
    <div class="content">
      <pre class="transition hidden">
      <code>
         <%= @production.graph.dump(:jsonld) %>
      </code>
      </pre>
    </div>
  </div>
</div>