<%= form_with(model: @spotlight, local: true, class: "ui form") do |form| %>
<% if @spotlight.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(@spotlight.errors.count, "error") %> prohibited this spotlight from being saved:</h2>

  <ul>
    <% @spotlight.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

<div class="ui vertically divided grid fluid">
  <div class="two column row">
    <div class="column">
    <div class="field">
   <label> API Endpoint </label>
    <input type="text" value="<%= spotlight_url(@spotlight, format: :json, locale: "en") %>">
    </div>
      <div class="field">
        <%= form.label :language %>
        <%= form.text_field :language, placeholder: "Language" %>
      </div>
      <div class="field">
        <label> Refresh frequency (days) </label>
        <input type="text" value="7">
      </div>
      <div class="field"> 
        <%= form.label "Frame"  %> 
        <%= form.text_area :frame, rows: 10 %>
      </div>
     
      <div class="actions">
        <%= form.submit "Submit", class: 'ui button green show_loading' %>
      </div>
  
    </div>


    <div class="column">
     <%= render partial: "spotlight_widget", locals: { spotlight: @spotlight} %>

      <h3>To install widget</h3>
      <p>Copy/paste the following into your website.
<pre><p><%="<div 
class='spotlight-widget' 
data-spotlight='#{@spotlight.id}' 
data-limit=5 
data-locale='en' 
data-endpoint='#{root_url[0..-4]}'>
</div>"%>
<br>
<%="<script async src='#{root_url[0..-4]}/widget/index.js'></script>"%>
<%="<link href='#{root_url[0..-4]}/widget/index.css' rel='stylesheet'>"%>
</p>
</pre>
        

    </div>


    
  </div>
</div>

<% end %>