<%= form_with(model: @spotlight, local: true, class: "ui form") do |form| %>
<% if @spotlight.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(@spotlight.errors.count, "error") %> prohibited this spotlight from being saved:</h2>

  <ul>
    <% @spotlight.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

<div class="ui vertically divided grid fluid">
  <div class="two column row">
   
    <div class="column">
      <div class="field">
        <%= form.label :start_date %>
        <%= form.text_field :start_date, placeholder: "YYYY-MM-DD"  %>
      </div>

      <div class="field">
        <%= form.label :end_date %>
        <%= form.text_field :end_date, placeholder: "YYYY-MM-DD" %>
      </div>

      <div class="field">
        <%= form.label  "Search term" %>

        <%= form.text_field :query, placeholder: "Production Name, Venue, Country, Production Company" %>
      </div>


      <div class="field">
        <label>Data Source</label>
        <select multiple="" class="ui dropdown">
          <option value="">Select Data Source</option>
          <% @data_sources.each do |t| %>
          <option value="<%=  t.id  %>"><%=  t.name  %></option>
          <% end %>
        </select>
      </div>

      <%
=begin%>
      <div class="field">
        Data sources

        <% @data_sources.each do |t| %>
        <div class="inline field">
          <%= form.check_box "data_sources[#{t.id}]"  %>
          <%= form.label t.name  %>
        </div>
        <% end %>
      </div>
      <%
=end%>
    </div>
     <div class="column">
      <div class="field">
        <%= form.label :sparql  %> List URIs in variable ?uri
        <%= form.text_area :sparql, rows: 10 %>
      </div>
    </div>
  </div>
</div>
<div class="actions">
  <%= form.submit "Submit", class: 'ui button green show_loading' %>
</div>
<% end %>