<%= render partial: "spotlight_card", locals: { spotlight: @spotlight} %>

<div class="ui divider"></div>
<p id="notice">
  <% if notice %>
  <div class="ui info message">
    <div class="header">
      <%= notice %>
    </div>
  </div>
  <% end %>
</p>

<div class="ui styled accordion" style="width:100%;">
  <div class="title">
    <i class="dropdown icon"></i>
    <%= t("search_parameters") %> 
  </div>
  <div class="content">
    <%= render partial: "sparql_display" %>
  </div>
</div>

<div class="ui styled accordion" style="width:100%;">
  <div class="title">
    <i class="dropdown icon"></i>
    <%= t("preview_layout") %> 
  </div>
  <div class="content">
    

    <div class="ui vertically divided grid fluid">
      <div class="two column row">
          
        <div class="column">
        <div style="margin-bottom:10px">
           <%= link_to "properties", stats_prop_spotlight_path(@spotlight), remote: true, class: "ui button" %>
           <%= link_to "references", stats_ref_spotlight_path(@spotlight), remote: true, class: "ui button" %>
           <%= link_to "qualifiers", stats_qual_spotlight_path(@spotlight), remote: true, class: "ui button" %>
            <%= link_to "inverse properties", stats_inverse_prop_spotlight_path(@spotlight), remote: true, class: "ui button" %>
           </div>
        <div id="stats">
           
        </div>
        </div>
        <div class="column">
          <div id="layout_div">
            <%= render partial: "layout/layout_display", locals: {layout: @layout} %>
          </div>
          <div> 
          <br>
          <%= link_to "Save", update_layout_spotlight_path(@spotlight), method: :patch, remote: false, class: "ui button primary" %>
          </div>
        </div>
       
              
          
      </div>
    </div>
  </div>
</div>

<div class="ui styled accordion" style="width:100%;">
  <div class="title">
    <i class="dropdown icon"></i>
    <%= t("api") %> 
  </div>
  <div class="content">
    <%= render partial: "api_display" %>
  </div>
</div>



<div class="ui divider"></div>



<%= link_to t('button.edit'), edit_spotlight_path(@spotlight), class: "ui button primary" %>
<%= link_to t('button.back'), spotlights_path, class: "ui button secondary" %>

<%= link_to t('button.destroy'), @spotlight, method: :delete, data: { confirm: 'Are you sure?' }, class: "ui button red" %>